* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.question {
  margin: 30px 0;
  font-size: 1.2rem;
  color: #333;
}

.options {
  margin: 15px 0;
}

.options label {
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.options input[type="radio"] {
  margin-right: 10px;
  accent-color: #4cae4c;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  flex: 1;
  padding: 12px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

button:first-child {
  margin-left: 0;
}

button:last-child {
  margin-right: 0;
}

button:hover {
  background-color: #4cae4c;
}

#result {
  margin-top: 30px;
  font-size: 1.5rem;
  text-align: center;
}

#result-msg {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #4cae4c;
}

.arrowContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#prev-btn,
#nxt-btn {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

#prev-btn:hover,
#nxt-btn:hover {
  background-color: #e0e0e0;
}

#prev-btn {
  order: 0;
}

#nxt-btn {
  order: 3;
}

.NumberList {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px 20px;
}
.NumberList li {
  margin: 0 10px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  background-color: #f8f8f8;
  transition: background-color 0.3s, color 0.3s;
}

.NumberList li.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.NumberList li:hover {
  background-color: #ddd;
}
